---
import Naglowek from '../components/Naglowek.astro';
import Hero from '../components/Hero.astro';
import ProblemRozwiazanie from '../components/ProblemRozwiazanie.astro';
import KluczoweProdukty from '../components/KluczoweProdukty.astro';
import Opinie from '../components/Opinie.astro';
import CTA from '../components/CTA.astro';
import Stopka from '../components/Stopka.astro';
import Analytics from '../components/Analytics.astro';
---

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Galeria Ubezpieczeniowa - Nowa Strona Główna</title>
    
    <Analytics />

  </head>
  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T958KD9G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    <Naglowek />
    <main>
      <Hero />
      <ProblemRozwiazanie />
      <KluczoweProdukty />
      <Opinie />
      <CTA />
    </main>
    <Stopka />
  </body>
</html>